.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;

  span {
    padding-left: 1rem;
    font-weight: 600;
  }
  button {
    padding-right: 1rem;
    color: #fff;
  }
}

.modal {
  position: absolute;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  width: 80%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  margin-top: 1rem;
}

.modal-overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.251);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
