<head>
  <link
    rel="stylesheet"
    href="../../../../../public/Codes/VanillaJS/components/debounce-input/search.css"
    media="print"
    onload="this.media='all'"
  />
  <noscript>
    <link
      rel="stylesheet"
      href="../../../../../public/Codes/VanillaJS/components/debounce-input/search.css"
    />
  </noscript>
</head>
<body>
  <div class="container">
    <div class="input-container">
      <input
        type="text"
        id="search-input"
        class="input"
        placeholder="search here..."
      />
      <button class="clear-button">&times;</button>
    </div>
    <div id="results"></div>
  </div>
  <script src="../../../VanillaJS/components/debounce-input/search.js"></script>
</body>
