<head>
  <link
    rel="stylesheet"
    href="../../../../public/Codes/VanillaJS/components/modal/modal.css"
    media="print"
    onload="this.media='all'"
  />
  <noscript>
    <link
      rel="stylesheet"
      href="../../../../public/Codes/VanillaJS/components/modal/modal.css"
    />
  </noscript>
</head>
<body>
  <div class="container ">
    <button id="open-button" class="primary-button">Open Modal</button>
    <div class="modal-overlay hidden">
      <div class="modal">
        <span class="modal-header">
          <span>Modal Title</span>
          <button
            style="font-size: 2rem"
            id="close-button"
            class="transparent-button"
          >
            &times;
          </button>
        </span>
        <div class="modal-content">
          <p>Hello there.</p>
          <p>This is a simple modal.</p>
        </div>
      </div>
    </div>
  </div>

  <script src="../../../../public/Codes/VanillaJS/components/modal/modal.js"></script>
</body>
